@import '~sass/_variables';
.nav-bar {
    background: $white;
    li {
        display: inline;
    }
    button {
        border: none;
        font-size: 20px;
        color: $gold;
        border-bottom: 3px solid transparent;
        background: none;
    }
    button:hover {
        border-bottom: 3px solid $black;
    }
}

.active-link {
    border-bottom: 3px solid $black;
}
