<div class="container">
    <div class="row">
        <div class="col-6">
            Email: {{currentCusotmer?.email}}
        </div>
        <div class="col-6">
            <input type="text" [(ngModel)]="email">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Password: {{password}}
        </div>
        <div class="col-6">
            <input type="text" [(ngModel)]="password">
        </div>
    </div>
    <div class="row">
        <button (click)="login()">Login</button>
    </div>

    <div class="row">
        <button [routerLink]="['/register']">Sign up</button>
    </div>
</div>
